body {
	background-color: #575757;
	margin: 0px;
	padding: 0px;
	}
.container,.container2 {
	max-width: 1000px;
	width: 100%;
	height: 100vh;
	margin:auto;
	
	background-repeat: no-repeat no-repeat;
	background-size: 100% 100%;
}
.container {
	background-image: url(../img/tiger.jpg);
}
.container2 {
	background-image: url(../img/enchanted.jpg);
}
.panel {
	
	width: 100%;
	position: fixed;
	bottom: 0px;
	margin-bottom: 30px;
}
.panel2{
	width: 100%;
	height: 45px;
	background-color: #000;
}
.panel > div,.panel2 > div  {
	width:49%;
	float: left;
	height: auto;
}
.panel > div:nth-child(1), .panel2 > div:nth-child(1) {
	padding-right:1%;
}
.panel > div:nth-child(2), .panel2 > div:nth-child(2) {
	padding-left:1%;
}
.panel > div:nth-child(1)>button,.panel2 > div:nth-child(1)>button {
	float: right;
}
button {
	border:0px;
	padding: 10px;
	font-family: arial;
	font-size: 14px;
	background-color: #4FA626;
	color: #FFF;
	font-weight: bold;
	width: 150px;
	border:1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.9;
	-webkit-transition:background-color 0.3s linear;
	-moz-transition:background-color 0.3s linear;
	-o-transition:background-color 0.3s linear;
	-ms-transition:background-color 0.3s linear;
	 transition:background-color 0.3s linear;
}
 button:hover {
	background-color: #05592A;
}
#logo {
	display: block;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	position: fixed;
	opacity: 0.8;

}
.about {
	width: 400px;
	height: 300px;
	border: 1px solid #000;
	background-color: #FFF;
	text-align:justify;
	font-family:arial;
	opacity: .7;
	font-size:12;
	padding: 10px;
	color:#000;
	font-weight: normal;
	border-radius: 10px;
	position: fixed;
	top:50%;
	margin-top: -150px;
	margin-left: -200px;
	left: 50%;
}
.user-area{
	width: 380px;
	height: 200px;
	background-color: blue;
	overflow: hidden;
}
.user-areain {
	width: 760px;
	height: 200px;
	background-color: yellow;
}
.user-message{
	width:380px;
	height:200px;
	float: left;
	background-color:green;
}
.user-compose{
	width: 380px;
	height: 200px;
	background-color: red;
	float: left;
}